/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.navigation-top, 
.main-navigation ul {
	background: #d48cf8 !important;
	border-top-color: #D48CF5 !important;
}

.navigation-top a {
	color: #000000 !important;
}

.navigation-top .current_page_item > a {
	color: #ffffff !important;
}

.site-header .navigation-top .menu-scroll-down {
    top: 0.1em !important;
}


/* --------------------------------------------- Estilos - Inicio ----- */

body.home .panel-content .wrap {
    max-width: 100% !important;
	padding-left: 0 !important;
    padding-right: 0 !important;
}

body.home .entry-header {
	display: none;
}

.quote-section {
	border: solid 1px #0e8044;
	padding: 25px;
	width: 40%;
	margin: 0 auto;
}

.qa-title,
.qa-section {
	max-width: 1024px;
    margin: 0 auto;
}

.ctas-section {
    max-width: 1024px;
    margin: 0 auto;
}

.ctas-section .wp-block-column {
	margin: 0 32px 1em !important;
}

.info-section {
    max-width: 1024px;
    margin: 0 auto;
}

.venue-section {
	background-color: #0e8044;
}

.venue-section .wp-block-column {
	margin: 0 !important;
}

.venue-section .venue-icon {

}

.venue-section .venue-title {

}

.venue-section .venue-name {

}

.venue-section .venue-image {
	margin-bottom: 0 !important;
}

.venue-section .venue-image img {
	width: 100vw;
}

