/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
}

h1 {
	font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1.entry-title {
    font-size: 30px !important;
    font-weight: 400 !important;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.navigation-top, 
.main-navigation ul {
	background: #d48cf8 !important;
	border-top-color: #d48cf8 !important;
}

.main-navigation li li:hover, 
.main-navigation li li.focus {
    background: #fff !important;
}

.navigation-top a {
	color: #000000 !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400 !important;
}

.navigation-top .current_page_item > a {
	color: #ffffff !important;
}

/*.site-header .navigation-top .menu-scroll-down {
    top: 0.1em !important;
}*/

.site-footer .wrap {
    max-width: 100% !important;
	padding: 0 !important;
}

.site-footer .widget-area {
    padding-bottom:  0 !important;
    padding-top:  0 !important;
}

.site-footer .widget-column.footer-widget-1,
.site-footer .widget-column.footer-widget-2 {
    clear: both !important;
    width: 100% !important;
}

.site-footer .widget-column.footer-widget-2 {
	background-color: #0e8044;
}

#text-2 {
    width: 100% !important;
	padding: 5em 2em 0;
	background-color: #f8f8f8;
}

#text-2 h2 {
	text-align: center;
	font-size: 1em;
	color: #0e8044;
}

.list-social {
    list-style: none;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto !important;
}

.list-social li {
    width: 20%;
    max-width: 25%;
    padding: .5em 30px 2em !important;
    display: inline-block;
}

.list-social li a {
    color: #000 !important;
}

.list-social li i {
    font-size: 2.75em;
    padding-bottom: 10px;
}

#blog_subscription-3 {
    width: 58%;
    float: left;
}

#blog_subscription-3 .widget-title,
#blog_subscription-3 form {
    width: 70%;
    float: right;
}

#blog_subscription-3 p {
	color: #fff !important;
}

button, html [type="button"], [type="reset"], [type="submit"]{
    background-color: #08302f;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background: #b2e582;
}

#recent-posts-3 {
    width: 42%;
    float: right;
}

#recent-posts-3 .widget-title,
#recent-posts-3 ul {
    width: 50%;
}

#recent-posts-3 ul li a {
    color: #fff !important;
}

#recent-posts-3 ul li a:hover {
    color: #000 !important;
}

#blog_subscription-3,
#recent-posts-3 {
	padding: 3em 2em 0;
}

#blog_subscription-3 h2,
#recent-posts-3 h2 {
	font-size: 1em;
	color: #fff;
}

.site-info {
    float: none;
    padding: 1em 0;
    width: 100%;
    color: #fff !important;
    text-align: center;
    background-color: #08302f !important;
    margin-bottom: 0 !important;
}

.site-info a {
	color: #fff !important;
}

a.imprint:after {
    content:" - " url(https://2019.sanjose.wordcamp.org/files/2019/03/wordpress-icon.png) " - Hecho en Costa Rica";
}

.site-footer .widget-area a,
.site-footer .site-info a {
    -webkit-box-shadow:  none !important;
    box-shadow: none !important;
}

.site-footer .widget-area a:hover,
.site-footer .site-info a:hover {
    -webkit-box-shadow:  none !important;
    box-shadow: none !important;
    color: #b2e582 !important;
}


/* ---------------------------------- Animación Cabecera - Inicio ----- */

body.home .wp-custom-header:before {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/date-header-home-temp.png);
    position: absolute;
    z-index: 1; 
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
    animation-duration: 3s;
	animation-iteration-count: infinite;
    animation-name: floating-home;
}

@keyframes floating-home {
	0% {
    top: 50%;
  }

  50% {
    top: 51%;
  }
	
	100% {
		top: 50%;
	}
}

@media only screen and (max-width: 425px) {
	body.home .wp-custom-header:before {
	    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/date-header-home-temp-mobile.png);
	}

}


/* ---------------------------------- Animación Cabecera - Internas ----- */

body:not(.home) 
.wp-custom-header img {
    content: url("https://2019.sanjose.wordcamp.org/files/2019/03/header-intern-temp.jpg") !important;
}

body:not(.home) .wp-custom-header:before {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/date-header-intern-temp.png);
    position: absolute;
    z-index: 1;
    padding: 20px;
    right: 10%;
    top: 30%;
    animation-duration: 3s;
	  animation-iteration-count: infinite;
    animation-name: floating;
}

@keyframes floating {
	0% {
    top: 30%;
  }

  50% {
    top: 25%;
  }
	
	100% {
		top: 30%;
	}
}

@media only screen and (max-width: 425px) {
	body:not(.home) .wp-custom-header:before {
	    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/date-header-intern-temp-mobile.png);
    	right: 1%;
	}

}


/* --------------------------------------------- Estilos - Inicio ----- */

body.home .panel-content .wrap {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body.home .entry-header {
	display: none;
}

.quote-section {
	border: solid 1px #0e8044;
	padding: 25px;
	width: 40%;
	margin: 0 auto;
}

.btn-wcsj {
	text-transform: uppercase;
}

.qa-title {
	color: #0e8044;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.qa-section {
	padding-bottom: 1em;
}

.qa-title,
.qa-section {
	max-width: 1024px;
    margin: 0 auto;
}

.ctas-section {
    max-width: 1024px;
    margin: 0 auto;
}

.ctas-section .wp-block-column {
    margin: 0 15px .5em !important;
}

.ctas-section .img-hover:hover {
	opacity: .75;
}

.info-section {
    max-width: 1024px;
    margin: 0 auto;
}

.title-news {
    padding-top: .5em;
	
}

.news-section {
	padding-left: 15px !important;
}

.news-section li {
    padding: 10px 10px 30px;
    border: 4px solid #000;
    border-radius: 2.5px;
}

.news-section li:before {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/04/new-img-big.png);
    display: inline-block;
    padding-right: 10px;
    float: left;
}

.news-section li a {
    font-weight: bold;
}

.news-section li time {
    color: #000;
}

.venue-section {
	background-color: #0e8044;
}

.venue-section .wp-block-column {
	margin: 0 !important;
}

.venue-section .venue-icon {
	padding: 20% 0 0 20%;
}

.venue-section .venue-title {
	text-transform: uppercase;
	font-weight: 800;
}

.venue-section .venue-title,
.venue-section .venue-name {
	padding-left: 20%;
    color: #ffffff;
}

.venue-section .venue-image {
	margin-bottom: 0 !important;
}

.venue-section .venue-image figure {
	margin-bottom: -6px !important;
}

.venue-section .venue-image img {
	width: 100vw;
}

.sponsor-title {
	color: #0e8044;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.hr-wcsj {
    background-color: #b2e582 !important;
    max-width: 50% !important;
}

.sponsors-section {
    max-width: 1024px;
    margin: 0 auto;
}

.sponsors-section  .wp-block-column {
	margin: 0 32px 1em !important;
}

.sponsors-level {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5em;
}

.sponsors-level:before, 
.sponsors-level:after {
    content: '';
    border-top: 1px dotted #b2e582;
    margin: 0 1.5em 0 1.5em;
    flex: 1 0 1.5em;
}


/* --------------------------------------------- Contacto --------- */

.contact-form textarea {
    width: 88% !important;
}


/* --------------------------------------------- Patrocinadores --- */

.wcorg-sponsor-description {
    padding-bottom: 60px;
}

.wcorg-sponsor h3 {
    color: #b2e582;
    text-transform: uppercase;
}

.wcorg-sponsors img {
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
}

.wcorg-sponsor-level-oro h2,
.wcorg-sponsor-level-plata h2,
.wcorg-sponsor-level-bronce h2 {
    margin: 0 auto;
    width: 180px;
    padding-bottom: 30px;
	
}

.wcorg-sponsor-level-oro h2 {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/quetzal-sponsor.png);
}

.wcorg-sponsor-level-plata h2 {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/manati-sponsor.png);
}

.wcorg-sponsor-level-bronce h2 {
    content: url(https://2019.sanjose.wordcamp.org/files/2019/03/danta-sponsor.png);
}

/*Llamado*/

#contact-form-5068 .wp-block-button__link {
	border-radius: 2px !important;
}

#contact-form-5068 .wp-block-button__link:hover, 
#contact-form-5068 .wp-block-button__link:focus, 
#contact-form-5068 .is-style-outline .wp-block-button__link:not(.has-background):hover, 
#contact-form-5068 .is-style-outline .wp-block-button__link:not(.has-background):focus {
    background-color: #b2e582 !important;
}

#contact-form-5068 input[type="tel"] {
	width: 300px !important;
}


/* ------------------------------------------------- Asistentes --- */

.tix-attendee-list li {
	border: none !important;
	padding: 10px !important;
}

.tix-attendee-list img.avatar.avatar-96.photo {
	border-radius: 50%;
	border: solid 4px #08302f;
}

#tix-attendees .avatar {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	float: none;
}

#tix-attendees .tix-field {
    margin-left: 0 !important;
    width: 100%;
    text-align: center !important;
}

span.tix-first {
	font-size: 1.5em;
	color: #08302f;
	display: block;
	font-weight: 900;
}

span.tix-last {
	color: #08302f;
	display: block;
	font-weight: 900;
	margin-top: -10px !important;
	margin-bottom: 1rem;
}

#tix-attendees .tix-columns-3 li {
	width: 30%;
	min-height: 350px;
	padding: 1rem !important;
	padding-bottom: 6rem !important;
	background-image: url('https://2019.sanjose.wordcamp.org/files/2019/03/Wappu.png'), url('https://2019.sanjose.wordcamp.org/files/2019/04/tix-bg-attendees.jpg');
	background-size: 37%, contain;
	background-repeat: no-repeat;
	box-shadow: 0 15px 35px rgba(50,50,90,.1), 0 5px 15px rgba(0,0,0,.07);
	background-position: 50% 95%, top;
	margin-bottom: 2rem !important;
	border-radius: 6px;
	margin-right: 1rem !important;
}

/*#tix-attendees .tix-columns-4 li:nth-child(even) {
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-logoAsset-8.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/card-chauAsset-9.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-logoAsset-6.png');
	background-position: 50% 95%, top, 94% 44%;
	background-size: 37%, contain, 27%;
}

#tix-attendees .tix-columns-4 li:nth-child(5n+3) {
	background-position: 50% 95%, top, 7% 64%;
}

#tix-attendees .tix-columns-4 li:nth-child(4n+1) {
	background-image: url('https://2019.sanjose.wordcamp.org/files/2019/03/Wappu.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/card-chauAsset-9.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-logoAsset-6.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-linesAsset-7.png');
	background-position: 50% 95%, top, 7% 64%, 10% 70%;
}*/

/*#tix-attendees .tix-columns-4 li:nth-child(4n+1) {
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-logoAsset-8.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/card-chauAsset-9.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-logoAsset-6.png'), url('https://2018.sanjose.wordcamp.org/files/2018/03/tix-linesAsset-7.png');
	background-position: 50% 95%, top, 7% 64%, 96% 78%;
	background-size: 37%, contain, 15%, 30%;
}*/

#tix-attendees .tix-columns-3 a.tix-field {
    box-shadow: none;
	border-bottom: none !important;
	margin-left: 0 !important;
	text-align: center;
}

.tix-field.tix-que-tema-te-interesa-mas {
	display: none !important;
}

.tix-field.tix-de-donde-nos-acompana {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px !important;
	letter-spacing: 1px;
	color: #01c1f3;
}

a.tix-field.tix-attendee-twitter, a.tix-field.tix-attendee-url {
	background-color: transparent;
	color: #0e8044;
	text-transform: lowercase;
}


/* --------------------------------------------- Organizadores ----- */

.wcorg-organizer h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    color: #0e8044;
}

.wcorg-organizer .wcorg-organizer-description img.avatar {
    max-width: 15%;
    float: left;
    border-radius: 50%;
    display: block;
    background-image: url(https://2019.sanjose.wordcamp.org/files/2019/05/bg-organizer.png);
}

.wcorg-organizer .wcorg-organizer-description p {
    max-width: 85%;
    float: right;
    padding-left: 25px;
}


/* --------------------------------------------- Ponentes ----- */

.wcorg-speaker h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    color: #0e8044;
}

.wcorg-speaker .wcorg-speaker-description img.avatar {
    max-width: 15%;
    float: left;
    border-radius: 50%;
    display: block;
    background-image: url(https://2019.sanjose.wordcamp.org/files/2019/05/bg-organizer.png);
}

.wcorg-speaker .wcorg-speaker-description p {
    max-width: 85%;
    width: 650px;
    float: right;
    padding-left: 25px;
}

.wcorg-speaker .wcorg-speaker-description p a {
    text-align: left;
    color: green;
    text-transform: inherit;
    font-weight: normal;
    width: unset;
}

.wcorg-speaker .wcorg-speaker-description a {
    display: inline-block;
    box-shadow: none;
    padding-top: 0px;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    color: #d48cf8;
}

.wcorg-speaker .wcorg-speaker-description a.more-link:before {
    padding-top: 0;
}

.wcorg-speaker .wcorg-speaker-description figure {
    display: none;
}

/* -- Profile -- */

.speaker-avatar {
    margin-bottom: 20px; 
}

.speaker-avatar img.avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}


/* --------------------------------------------- Programa ----- */

body.page-id-7383 .site-content .wrap {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body.page-id-7383 .site-content .wrap .content-area {
    max-width: 960px !important;
}

body.page-id-7383 .entry-header {
    text-align: center;
}

.wcpt-schedule tr:nth-child(even){
    background-color: #f2f2f2;
}

.wcpt-schedule thead {
    background-color: #000;
    color: #fff;
}

.wcpt-time,
.wcpt-col-time {
    text-align: center;
}

.almuerzo {
    background-color: #0e8044;
    color: #fff;
}

.caf-snacks {
    background-color: #08302f !important;
    color: #fff;
}

.caf-snacks a {
    color: #fff;
}

.clausura-sbado {
    background-color: #d48cf8;
    color: #fff;
}

.fav-session-button,
.wcpt-session-title {
    box-shadow: inset 0 0 0 rgba(15, 15, 15, 1) !important;
}

.wcpt-session-speakers {
    box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
}



/* --------------------------------------------- Mediaqueries ----- */

@media only screen and (max-width: 425px) {

	.quote-section {
	    width: 90%;	
	}

	.qa-section,
	.info-section {
		padding: 1em;
	}

	.venue-section .venue-icon,
	.venue-section .venue-title,
	.venue-section .venue-name {
	    padding-left: 10%;
	}

	.list-social li {
		width: 100%;
	    max-width: 80%;
	    margin: 0 auto;
   		padding: 30px;
	}

	.list-social li i {
	    padding-bottom: 5px;
	}

	#text-2,
	#blog_subscription-3,
	#recent-posts-3 {
	    width: 100%;
	}

	#recent-posts-3 {
	    padding-bottom: 30px;
	}

	#blog_subscription-3,
	#recent-posts-3 {
		background-color: #0e8044;
	}

	#blog_subscription-3 .widget-title,
	#blog_subscription-3 form,
	#recent-posts-3 .widget-title,
	#recent-posts-3 ul {
	    width: 100%;
	}

	#tix-attendees .tix-columns-3 li {
		min-height: 405px;
		background-image: url('https://2019.sanjose.wordcamp.org/files/2019/03/Wappu.png'), url('https://2019.sanjose.wordcamp.org/files/2019/04/tix-bg-attendees-mobile.jpg');
		width: 100% !important;
	}


	.wcorg-organizer .wcorg-organizer-description img.avatar {
	    max-width: 100%;
	    float: unset;
	    margin: 0 auto;
	}

	.wcorg-organizer .wcorg-organizer-description p {
	    max-width: 100%;
	    float: unset;
	    padding-left: 5px;
	    padding-top: 25px;
	}
}


