body {
	font-family: 'Montserrat', sans-serif;
	font-size: .75em;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.site-header.featured-image:after {
	opacity: .2;
}

.entry .entry-content, 
.entry .entry-summary {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.entry .entry-content > *, 
.entry .entry-summary > * {
    max-width: calc(12 * (100vw / 12) - 0px);
}

.entry .entry-content > *.aligncenter, 
.entry .entry-summary > *.aligncenter {
    max-width: calc(12 * (100vw / 12) - 0px);
}

.quote {
	border: solid 1px #7ba24d;
	padding: 25px;
	width: 44%;
	margin: 0 28% !important;
}

.btn-wcsj {
	text-transform: uppercase;
	font-weight: 400;
}

.ctas-section {
    width: 74%;
    margin: 0 13% !important;
}

.img-hover:hover {
	opacity: .75;
}

.info-section {
    width: 74%;
    margin: 0 13% !important;
	padding: 0 32px;
}

.venue-section {
	background-color: #7ba24d;
}

.venue-icon img {
	padding-left: 30%;
	padding-top: 28%;
}

.venue-title {
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
	padding-left: 30%;
}

.venue-section p {
	padding-left: 30%;
}

.sponsor-title,
.qa-title {
    font-size: 1.25em;
    color: #7ba24d;
    text-transform: uppercase;
    font-weight: bold;
}

.qa-section {
    width: 74%;
    margin: 0 13% !important;
	padding: 0 32px;
}

.qa-section figure {
	width: -webkit-fill-available !important;
}

.hr-wcsj {
    background-color: #7ba24d !important;
    max-width: 74% !important;
    margin: 2% 13% !important;
    text-align: center !important;
}

#colophon .widget-area, 
#colophon .site-info {
    position: relative;
    background-color: #f8f8f8;
    margin: 0;
    padding: 2.5rem 0 1.5rem;
}

#colophon .widget-column .widget {
    margin-right: 0 !important;
    width: 100% !important;
}

#text-2 {
	    padding: 0 calc(1 * 8rem);
}

#text-2 h2 {
	text-align: center;
	font-size: 1rem;
}

h1:not(.site-title):before, 
h2:before {
    background: none !important;
}

.list-social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.list-social li {
    width: 20%;
    min-width: 20%;
    display: inline-block;
}
