/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.navigation-top, 
.main-navigation ul {
	background: #d48cf8 !important;
	border-top-color: #d48cf8 !important;
}

.navigation-top a {
	color: #000000 !important;
}

.navigation-top .current_page_item > a {
	color: #ffffff !important;
}

.site-header .navigation-top .menu-scroll-down {
    top: 0.1em !important;
}


.site-footer .wrap {
    max-width: 100% !important;
	padding: 0 !important;
}

.site-footer .widget-area {
    padding-bottom:  0 !important;
    padding-top:  0 !important;
}

.site-footer .widget-column.footer-widget-1,
.site-footer .widget-column.footer-widget-2 {
    clear: both !important;
    width: 100% !important;
}

#text-2 {
    width: 100% !important;
	padding: 3em 2em 0;
	background-color: #f8f8f8;
}

#text-2 h2 {
	text-align: center;
	font-size: 1em;
	color: #0e8044;
}

.list-social {
    list-style: none;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto !important;
}

.list-social li {
    width: 20%;
    max-width: 25%;
    padding: .5em 30px !important;
    display: inline-block;
}

.list-social li a {
    color: #000 !important;
}

.list-social li i {
    font-size: 1.75em;
    padding-bottom: 20px;
}

#blog_subscription-3 {
    width: 58%;
    float: left;
}

#blog_subscription-3 .widget-title,
#blog_subscription-3 form {
    width: 70%;
    float: right;
}

#blog_subscription-3 p {
	color: #fff !important;
}

#recent-posts-3 {
    width: 42%;
    float: right;
}

#recent-posts-3 .widget-title,
#recent-posts-3 ul {
    width: 50%;
}

#recent-posts-3 ul li a {
    color: #fff !important;
}

#recent-posts-3 ul li a:hover {
    color: #000 !important;
}

#blog_subscription-3,
#recent-posts-3 {
	padding: 3em 2em 0;
	background-color: #0e8044;
	min-height: 50vh;
}

#blog_subscription-3 h2,
#recent-posts-3 h2 {
	font-size: 1em;
	color: #fff;
}

.site-info {
    float: none;
    padding: 1em 0;
    width: 100%;
    color: #fff !important;
    text-align: center;
    background-color: #08302f !important;
    margin-bottom: 0 !important;
}

.site-info a {
	color: #fff !important;
}

.site-footer .widget-area a,
.site-footer .site-info a {
    -webkit-box-shadow:  none !important;
    box-shadow: none !important;
}

.site-footer .widget-area a:hover,
.site-footer .site-info a:hover {
    -webkit-box-shadow:  none !important;
    box-shadow: none !important;
    color: #b2e582 !important;
}


/* --------------------------------------------- Estilos - Inicio ----- */

body.home .panel-content .wrap {
    max-width: 100% !important;
	padding-left: 0 !important;
    padding-right: 0 !important;
}

body.home .entry-header {
	display: none;
}

.quote-section {
	border: solid 1px #0e8044;
	padding: 25px;
	width: 40%;
	margin: 0 auto;
}

.btn-wcsj {
	text-transform: uppercase;
}

.qa-title {
	color: #0e8044;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.qa-section {
	padding-bottom: 1em;
}

.qa-title,
.qa-section {
	max-width: 1024px;
    margin: 0 auto;
}

.ctas-section {
    max-width: 1024px;
    margin: 0 auto;
}

.ctas-section .wp-block-column {
	margin: 0 32px 1em !important;
}

.ctas-section .img-hover:hover {
	opacity: .75;
}

.info-section {
    max-width: 1024px;
    margin: 0 auto;
}

.venue-section {
	background-color: #0e8044;
}

.venue-section .wp-block-column {
	margin: 0 !important;
}

.venue-section .venue-icon {
	padding: 20% 0 0 20%;
}

.venue-section .venue-title {
	text-transform: uppercase;
}

.venue-section .venue-title,
.venue-section .venue-name {
	padding-left: 20%;
    color: #ffffff;
}

.venue-section .venue-image {
	margin-bottom: 0 !important;
}

.venue-section .venue-image figure {
	margin-bottom: -6px !important;
}

.venue-section .venue-image img {
	width: 100vw;
}

.sponsor-title {
	color: #0e8044;
	padding-bottom: 1em;
	text-transform: uppercase;
}

.hr-wcsj {
    background-color: #b2e582 !important;
    max-width: 50% !important;
}

.sponsors-section {
    max-width: 1024px;
    margin: 0 auto;
}

.sponsors-section  .wp-block-column {
	margin: 0 32px 1em !important;
}


/* --------------------------------------------- Mediaqueries ----- */

@media only screen and (max-width: 425px) {

	.quote-section {
	    width: 90%;	
	}

	.qa-section,
	.info-section {
		padding: 1em;
	}

	.venue-icon,
	.venue-title,
	.venue-name {
	    padding-left: 10%;
	}

	.list-social li {
		width: 100%;
	    max-width: 80%;
	    margin: 0 auto;
   		padding: 30px;
	}

	.list-social li i {
	    padding-bottom: 5px;
	}

	#text-2,
	#blog_subscription-3,
	#recent-posts-3 {
	    width: 100%;
	}

	#blog_subscription-3 .widget-title,
	#blog_subscription-3 form,
	#recent-posts-3 .widget-title,
	#recent-posts-3 ul {
	    width: 100%;
	}
}


