body {
	font-family: 'Montserrat', sans-serif;
	font-size: .75em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.home .site-branding-container {
    margin-top: 0;
    display: block;
    background-color: #d48cf8;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    z-index: 9999;
    padding: 20px 0 30px;
}

.site-header.featured-image:after {
	opacity: .2;
}

.site-header.featured-image .site-title a,
.site-header.featured-image .site-description,
.site-header.featured-image .main-navigation a {
	color: #000 !important;
	text-shadow: none;
}

.site-header.featured-image .site-title {
    padding-top: 10px;
}

.home .entry-title {
	display: none;
}

.home .entry .entry-content, 
.home .entry .entry-summary {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.entry .entry-content > *, 
.entry .entry-summary > * {
    max-width: calc(12 * (100vw / 12) - 0px);
}

.entry .entry-content > *.aligncenter, 
.entry .entry-summary > *.aligncenter {
    max-width: calc(12 * (100vw / 12) - 0px);
}

.quote {
	border: solid 1px #0e8044;
	padding: 25px;
	width: 44%;
	margin: 0 28% !important;
}

.btn-wcsj {
	text-transform: uppercase;
	font-weight: 400;
}

.ctas-section {
    width: 74%;
    margin: 0 13% !important;
}

.img-hover:hover {
	opacity: .75;
}

.info-section {
    width: 74%;
    margin: 0 13% !important;
	padding: 0 32px;
}

.venue-section {
	background-color: #0e8044;
}

.venue-icon img {
	padding-left: 30%;
	padding-top: 28%;
}

.venue-title {
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
	padding-left: 30%;
}

.venue-section p {
	padding-left: 30%;
}

.sponsor-title,
.qa-title {
    font-size: 1.25em;
    color: #0e8044;
    text-transform: uppercase;
    font-weight: bold;
}

.qa-section {
    width: 74%;
    margin: 0 13% !important;
	padding: 0 32px;
}

.qa-section figure {
	/* width: -webkit-fill-available !important; */
	width: calc(3 * (100vw / 12) - 58px) !important;
}

.hr-wcsj {
    background-color: #b2e582 !important;
    max-width: 74% !important;
    margin: 2% 13% !important;
    text-align: center !important;
}

.sponsors-section {
    width: 74%;
    margin: 0 13% !important;
    padding: 0 32px;
}

.sponsors-icon figure.aligncenter {
	max-width: calc(12 * (100vw / 12) - 5px) !important;
	width: 100% !important;
}

.sponsors-level {
    display: flex;
    width: 50%;
    margin: 0 25% !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.sponsors-level:before, 
.sponsors-level:after {
    content: '';
    border-top: 1px dotted #b2e582;
    margin: 0 1.5rem 0 1.5rem;
    flex: 1 0 1.5rem;
}

.sponsors-logo figure.aligncenter {
    width: 100% !important;
}

#colophon .widget-area, 
#colophon .site-info {
    position: relative;
    margin: 0;
    padding: 0;
}

#colophon .widget-column .widget {
    margin: 0;
    padding: 0;
    max-width: inherit !important;
}

#text-2 {
    width: 100% !important;
	padding: 0 calc(1 * 8rem) !important;
	background-color: #f8f8f8;
}

#text-2 h2 {
	text-align: center;
	font-size: 1rem;
	color: #0e8044;
	padding-bottom: 20px;
}

h1:not(.site-title):before, 
h2:before {
    background: none !important;
}

.list-social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.list-social li {
    width: 20%;
    min-width: 20%;
    display: inline-block;
}

.list-social li#facebook a,
.list-social li#twitter a,
.list-social li#instagram a,
.list-social li#meetup a {
    color: #000;
}

.list-social li i {
    font-size: 1.75rem;
    padding-bottom: 20px;
}

#blog_subscription-3 {
    width: 100% !important;
    padding: 0 calc(1 * 12rem) !important;
	background-color: #0e8044;
}

#blog_subscription-3 h2 {
    font-size: 1rem;
}

form#subscribe-blog-blog_subscription-3 {
    width: 50%;
}

#subscribe-email input {
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

button, [type="button"], [type="reset"], [type="submit"] {
    background-color: #08302f !important;
}

#colophon .site-info {
    color: #fff !important;
    text-align: center;
    background-color: #08302f !important;
    padding: 10px 0 !important;
}

@media only screen and (max-width: 425px) {

	.home .site-branding-container {
	    left: 0;
	    padding: 20px 15px 30px;
	}

	.site-branding-container .site-logo {
		display: none;
	}

	.entry .entry-content, 
	.entry .entry-summary {
	    max-width: 90%;
	    margin: 0 5%;
	    padding: 0;
	}

	.quote {
	    width: 70%;
	    margin: 50px 15% !important;
	}

	.venue-icon img {
	    padding-left: 10%;
	}

	.venue-title {
	    padding-left: 10%;
	}

	.venue-section p {
	    padding-left: 10%;
	}

	.sponsors-level {
	    width: 90%;
	    margin: 0 5% !important;
	}

	.list-social li {
	    width: 50%;
   		padding-bottom: 30px;
	}

	#text-2,
	#blog_subscription-3 {
	    padding: 0 calc(1 * 1rem) !important;
	}

	form#subscribe-blog-blog_subscription-3 {
	    width: 100%;
	}

	#colophon .site-info {
	    padding: 10px!important;
	}
}
