body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.wrap {
    max-width: 100% !important;
    padding: 0 !important;
}

#primary .entry-header,
#primary .entry-content {
	clear: both;
	width: 100% !important;
}
