body {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

body.colors-custom, .colors-custom .navigation-top, .colors-custom .main-navigation ul {
	background: #d48cf8 !important;
	border-top-color: #D48CF5 !important;
}

.colors-custom .navigation-top a {
	color: #000000 !important;
}

.colors-custom .navigation-top .current_page_item > a {
	color: #ffffff !important;
}

.home .wrap {
    max-width: 100% !important;
    padding: 0 !important;
}

.home .entry-header {
	display: none;
}

#primary .entry-header,
#primary .entry-content {
	clear: both;
	width: 100% !important;
}

.venue-section {

}

.venue-section .venue-icon {

}

.venue-section .venue-title {

}

.venue-section .venue-name {

}

.venue-section .venue-image {
	margin-bottom: 0 !important;
}

.venue-section .venue-image img {
	width: 100vw;
}

