/* --------------------------------------------- Estilos Generales ----- */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: .95em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
}

.navigation-top, 
.main-navigation ul {
	background: #d48cf8 !important;
	border-top-color: #D48CF5 !important;
}

.navigation-top a {
	color: #000000 !important;
}

.navigation-top .current_page_item > a {
	color: #ffffff !important;
}

.site-header .navigation-top .menu-scroll-down {
    top: 0.1em !important;
}


/* --------------------------------------------- Estilos - Inicio ----- */

.home .wrap {
    max-width: 100% !important;
    padding: 0 !important;
}

.home .entry-header {
	display: none;
}

.venue-section {

}

.venue-section .venue-icon {

}

.venue-section .venue-title {

}

.venue-section .venue-name {

}

.venue-section .venue-image {
	margin-bottom: 0 !important;
}

.venue-section .venue-image img {
	width: 100vw;
}

